<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#test">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/" routerLinkActive="active" offset="50"><span>RiskMap</span></a>
        </div>
        <div class="collapse navbar-collapse" id="test">
            <ul class="nav navbar-nav">
                <li><a routerLink="/report" routerLinkActive="active">Report</a></li>
                <li><a routerLink="/map" routerLinkActive="active">Map</a></li>
            </ul>
        </div>
    </div>
</nav>
