<div class="dashboard">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Risk Report</h2>
                    <a routerLink="/report" routerLinkActive="active" class="report-image"></a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Map the Risk</h2>
                    <a routerLink="/map" routerLinkActive="active" class="map-image"></a>
                </div>
            </div>
        </div>
    </div>
</div>
